<% notes.each do |note| %>
  <%= audio_tag note.upload.url %>
  <%= note.name %>
<% end %>

<br>Key:<div class="key"><%= key.name %></div>

<%= audio_tag reverb.upload.url %>

<div>Users:</div>
<% unless users.empty? %>
  <% users.each do |user| %>
    <div class="user<%= user.id %>"><%= user.email %></div>
  <% end %>
<% end %>
