<% notes.each do |note| %>
  <%= audio_tag note.upload.url, class: instrument.name %>
<% end %>

<%= audio_tag reverb.upload.url %>

<canvas id="visuals" width="150" height="150"></canvas>

<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content black-text">
    <h4 class="center">About Soundhouse</h4>
    <p>Soundhouse is an app for procedurally-generated ambient music.
      Based on the concepts developed by Brian Eno on albums such as "Discreet Music" and "Music for Airports",
      the app creates a variety of loops that overlap to create countless combinations of sound.
      By playing individual sounds with a wide variety of loop lengths, each visit to the website will generate a unique piece of music
      that morphs and grows over time. Users may also introduce sounds by their own will, via click-to-create note generation. Additionally,
      the app will choose new keys and instruments over time, as new users sign into the live session and contribute to the mix. Each user's
      preferences (as chosen via user creation/profile editting) help shape and guide the music, providing the ability to introduce a variety of keys, scales, and instruments to the mix.
    </p>
  </div>
  <div class="modal-footer">
    <%= link_to "Close", "javascript:void(0)", class: "modal-action modal-close waves-effect waves-green btn-flat" %>
  </div>
</div>

<footer>
  <%= link_to "#modal1", class: "modal-trigger bottom-right white-text" do %>
    <i class="material-icons">info</i>
  <% end %>

  <div class="bottom-left white-text unselectable users">
    <% users.each do |user| %>
      <div class="user user<%= user.id %>"><%= user.email %></div>
    <% end %>
  </div>
</footer>
