<% notes.each do |note| %>
  <%= audio_tag note.upload.url, class: instrument.name %>
  <%= note.name %>
<% end %>

<br>Key:<div class="key"><%= key.name %></div>

<%= audio_tag reverb.upload.url %>

<div class="users">Users:</div>
<% unless users.empty? %>
  <% users.each do |user| %>
    <div class="user<%= user.id %>"><%= user.email %></div>
  <% end %>
<% end %>

<canvas id="visuals" width="150" height="150"></canvas>
