<div class="center">Squarewave</div>
<div class="center">
  <% notes.each do |note| %>
    <%= audio_tag note.upload.url %>
      <%= "#{note.name}#{note.octave}" %>
  <% end %>
</div>

<div class="center">key: <%= key %></div>



<div class="center">
  <%= audio_tag reverb.upload.url %>
  <%= reverb.name %>
</div>

<div class="center"><input id="pauseButton" type="button" value="Pause" class="btn"/></div>
