<h2 class="center"><%= form_title %></h2>

<div class="row">
  <div class="col s8 offset-s2">
    <% if user.errors.any? %>
      <% user.errors.full_messages.each do |msg| %>
        <p> <%= msg %></p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <%= form_for(user) do |f| %>
    <div class="col s8 offset-s2">
      <div class="center">
        <label for="email">Email</label>
        <%= f.text_field :email, placeholder: "bob@bmail.com", class: 'form-field' %>
      </div>

      <div class="center">
        <label for="password">Password</label>
        <%= f.password_field :password, class: 'form-field' %>
      </div>

      <div class="center">
        <label for="password_confirmation">Confirm Password</label>
        <%= f.password_field :password_confirmation, class: 'form-field' %>
      </div>
    </div>

    <div class="col s6">
      <div class="center">Favorite Instrument(s)</div>
      <% Instrument.all.each do |i| %>
        <div class="center">
          <%= check_box_tag("instrument[#{i.name}]", i.id, user.instruments.include?(i)) %>
          <%= label_tag("instrument[#{i.name}]", i.name) %>
        </div>
      <% end %>

      <div class="center">Favorite Chord(s)</div>
      <% Chord.all.each do |c| %>
        <div class="center">
          <%= check_box_tag("chord[#{c.name}]", c.id, user.chords.include?(c)) %>
          <%= label_tag("chord[#{c.name}]", c.name) %>
        </div>
      <% end %>
    </div>

    <div class="col s6">
      <div class="center">Favorite Scale(s)</div>
      <% Scale.all.each do |s| %>
        <div class="center">
          <%= check_box_tag("scale[#{s.name}]", s.id, user.scales.include?(s)) %>
          <%= label_tag("scale[#{s.name}]", s.name) %>
        </div>
      <% end %>

      <div class="center">Favorite Reverb(s)</div>
      <% Reverb.all.each do |r| %>
        <div class="center">
          <%= check_box_tag("reverb[#{r.name}]", r.id, user.reverbs.include?(r)) %>
          <%= label_tag("reverb[#{r.name}]", r.name) %>
        </div>
      <% end %>
    </div>

    <div class="col s12 center">
      <%= f.submit class: "btn" %>
    </div>
  <% end %>
</div>
