<nav>
  <div class="nav-wrapper">
    <%= link_to "SoundHouse", root_path, class: "brand-logo left hide-on-small-only" %>
    <%= link_to root_path, class: "brand-logo left hide-on-med-and-up" do %>
      <i class="material-icons">speaker</i>
    <% end %>
    <ul id="nav-mobile" class="right">
      <li><a class="dropdown-button" href="javascript:void(0)" data-activates="dropdown1">Current Users<i class="material-icons right">arrow_drop_down</i></a></li>
      <% if user_logged_in? %>
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "Sign Out", sessions_sign_out_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign In", sessions_sign_in_path, class: "signin" %></li>
        <li><%= link_to "Sign Up", new_user_path %></li>
      <% end %>
    </ul>
    <%= yield :user_dropdown if current_user %>
  </div>
</nav>
