<nav>
  <div class="nav-wrapper">
    <%= link_to "SoundHouse", root_path, class: "brand-logo left hide-on-small-only" %>
    <%= link_to root_path, class: "brand-logo left hide-on-med-and-up" do %>
      <i class="material-icons">speaker</i>
    <% end %>
    <ul id="nav-mobile" class="right">
      <% if user_logged_in? %>
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "Sign Out", sessions_sign_out_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign In", sessions_sign_in_path %></li>
        <li><%= link_to "Sign Up", new_user_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
